.env/
.kube/
secrets/
ansible/roles/knative/latest_knative_github/
ansible/roles/istio/latest_istio_files_from_github/
ansible/roles/cert-manager/latest_certmanager_files_from_github/
ansible/get_helm.sh
ansible/test.py